ul {
    list-style: none; 
    padding-left: 0;   
    margin: 0;         
}

body {

    background: #0f172a;

    color: #ffffff;

    font-family: 'Poppins', sans-serif;

    margin: 0;

    text-align: center;
}


nav {

    background: #111827;

    padding: 15px;
}

nav a {

    color: #ffffff;

    margin: 15px;

    text-decoration: none;

    font-weight: bold;
}

nav a:hover {

    color: #3b82f6;
}


h1 {

    margin-top: 40px;

    font-size: 40px;
}


h3 {

    margin-top: 30px;

    font-size: 24px;

    color: #3b82f6;
}


p {

    color: #ffffff;

    font-size: 18px;

    max-width: 600px;

    margin: auto;

    margin-top: 10px;
}


footer {

    background: #111827;

    padding: 20px;

    margin-top: 580px;
}
