body {

    background: #0f172a;

    color: #e5e7eb;

    font-family: 'Poppins', sans-serif;

    text-align: center;

    margin: 0;
}

nav {

    background: #111827;

    padding: 15px;
}

nav a {

    color: #e5e7eb;

    margin: 15px;

    text-decoration: none;

    font-weight: bold;
}

nav a:hover {

    color: #3b82f6;
}

.logo {

    width: 750px;

    margin-top: 20px;

    transition: 0.3s;
}

.logo:hover {

    transform: scale(1.1);
}

button {

    background: #3b82f6;

    color: white;

    padding: 10px 20px;

    border: none;

    border-radius: 8px;

    cursor: pointer;
}

button:hover {

    background: #2563eb;
}

footer {

    background: #111827;

    padding: 20px;

    margin-top: 100px;
}
